<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>Word Repeat Counter</title>
</head>
<body>
    <div class="container">
        <h1>Here are your original inputs:</h1>
        <div class="row">
            <div class="col s6">
                <h4 class="originalInputHeader">Original Text:</h4>
                <p>{{ originalString }}</p>
            </div>
            <div class="col s6">
                <h4 class="originalInputHeader">Original Word to Check:</h4>
                <p>{{ originalCheckRepeat }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h1>Your word was repeated:</h1>
                <h4><span id="results">{{ results }}</span> time(s)!</h4>
            </div>
        </div>
        <p>Click <a href="/">here</a> to go back to the homepage!</p>
    </div>
</body>
</html>
