a,
#results {
    text-decoration: underline;
    font-style: italic;
}

a:hover,
#results {
    color: #f00;
}

body {
    text-align: center;
    font-family: verdana, sans-serif;
}

h1 {
    color: #3f51b5;
}

.originalInputHeader {
    color: #8c9eff;
}

.btn,
.btn:hover {
    background-color: #3f51b5;
}
